{% extends '_layouts/base' %}

{% block main %}
  {% cache using key 'entry__' ~ craft.app.request.pathInfo %}
    <section class="blocks blocks--cke">
      <div class="blocks__content prose md:prose-lg lg:prose-xl">
        {{ entry.builder }}
      </div>
    </section>
  {% endcache %}
{% endblock %}
