{% extends '_layouts/base' %}

{% block main %}
  {% cache using key 'entry__' ~ craft.app.request.pathInfo %}
    <header class="blocks blocks--header">
      <div class="blocks__content">
        <h1 class="ui-h1">{{ entry.headline ? entry.headline|nl2br : entry.title }}</h1>
      </div>
    </header>

    {{ entry.matrixBuilder.eagerly().render({ builder: true }) }}
  {% endcache %}
{% endblock %}
