{% set label = label ?? '' %}

{% if label %}
  <div class="flex justify-end text-sm uppercase ui-bold mb-3 text-stone-300 pr-2" data-animate="slide-right">
    <span>{{ label }}</span>
  </div>
{% endif %}
