{% set home = craft.entries.section('home').one() %}
{% set navItems = craft.entries.section("navigations").eagerly().level(1).all() ?? null %}

<nav
  data-signals-isopen="false"
  class="fixed inset-x-0 top-0 z-30 h-16 bg-white/90 layout"
  data-on-keydown="event.key === 'Escape' && ($isopen = false)"
  data-on-click__outside="$isopen = false"
>
  <div class="flex items-center justify-between w-full layout__feature ">
    <div class="flex items-center shrink-0">
      <a class="flex items-center gap-3 text-2xl text-black ui-bold group" href="{{ home.url }}">
        <img class="w-10 h-10 shrink-0 rounded-full shadow-xl bg-white group-hover:bg-stone-300 border-2 border-black transition" src="{{ craft.vite.asset('img/GM-1500.svg', true) }}" alt="">
        CraftCMS Lazy
      </a>
    </div>

    {% if navItems %}
      <button
        data-on-click="$isopen = !$isopen"
        data-class="{ 'transition transform-180': $isopen }"
        aria-label="Menü öffnen/schließen"
        class="block text-black cursor-pointer switch:hidden hover:text-primary focus:text-black focus:outline-none rounded-none"
        type="button"
      >
        <svg
          class="h-9 stroke-current text-black"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="2.5"
        >
          <path
            data-show="$isopen"
            stroke-linecap="butt"
            stroke-linejoin="miter"
            d="M18.278 16.864l-4.829-4.828-4.828 4.828-1.414-1.414 4.828-4.829-4.828-4.828 1.414-1.414 4.829 4.828 4.828-4.828 1.414 1.414-4.828 4.829 4.828 4.828z"
          />
          <path
            data-show="!$isopen"
            stroke-linecap="butt"
            stroke-linejoin="miter"
            d="M4 5h16M4 11h16M4 17h16"
          />
        </svg>
      </button>

      <div
        class="switch:static fixed top-16 left-0 z-30 switch:flex switch:w-auto switch:!block w-full grow switch:items-center bg-white/90 switch:bg-transparent switch:p-0 py-4 ui-spacer"
        data-class="{ 'block': $isopen, 'hidden': !$isopen }"
        data-show="true"
      >
        <ul class="items-center justify-end flex-1 h-full space-y-4 switch:flex switch:space-y-0 switch:space-x-4">
          {% for item in navItems %}
            <li class="h-full">
              {{ item.render({ class: 'p-1 ui-bold inline-flex h-full items-center switch:px-2 text-black hover:text-white hover:bg-primary rounded-sm', classActive: 'bg-primary text-white' }) }}
            </li>
          {% endfor %}
          <li>
            <button data-on-click="$modal = true" aria-label="Close" class="flex items-center cursor-pointer hover:text-primary">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>
            </button>
          </li>
        </ul>
      </div>
    {% endif %}
  </div>
</nav>
